<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget
	id="com.locsoftware.mStore" 
	version="3.50.8" 
	android-versionCode="35080"
	ios-CFBundleVersion="3.50.8.1"
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0">
	<name>LOC Software mStore</name>
	<description>
		This application is designed to work with LOC Store Management Suite only. It allows navigate items and building shopping lists on the store server.
	</description>
	<author email="stephan.mercier@locsoftware.com" href="http://www.locsoftware.com">
		LOC Team
	</author>

	<feature name="http://api.phonegap.com/1.0/device" />

	<preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="permissions" value="none" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="19" />
	<preference name="android-installLocation" value="auto" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="orientation" value="portrait" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="android-targetSdkVersion" value="28" />
<!-- 	<preference name="swift-version" value="3.0"/>
	<preference name="UseLegacySwiftLanguageVersion" value="true" /> -->
	
	<plugin name="cordova-android-support-gradle-release" spec="3.0.1" />
	<plugin name="cordova-plugin-statusbar" spec="2.4.3" />
	<plugin name="cordova-plugin-camera" spec="4.1.0" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-geolocation" spec="4.0.2" />
	<plugin name="cordova-plugin-splashscreen" spec="5.0.4" />
	<plugin name="cordova-plugin-vibration" spec="3.1.1" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.4" />
	<plugin name="phonegap-plugin-barcodescanner" spec="7.1.0" />
	<plugin name="cordova-plugin-inappbrowser" spec="https://github.com/nalexiou-loc/cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-fingerprint-aio" spec="2.0.0"/>
	<plugin name="cordova-plugin-wkwebview-engine" spec="1.2.1" />
<!-- 	<plugin name="phonegap-plugin-push" spec="2.2.3" /> -->

	<!--  used to define a single default icon which will be used for all platforms. -->
	<icon src="www/res/icon.png" />
	<splash src="www/res/splash.png" />

	<platform name="android">
<!-- 		<resource-file src="google-services.json" target="app/google-services.json" /> -->
		<!--
			ldpi    : 36x36 px
			mdpi    : 48x48 px
			hdpi    : 72x72 px
			xhdpi   : 96x96 px
			xxhdpi  : 144x144 px
			xxxhdpi : 192x192 px
		-->
		<icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
		<icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
		<icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
		<icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
		<icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
		<icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
		
		<!-- you can use any density that exists in the Android project -->
		<splash density="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
		<splash density="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
		<splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
		<splash density="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
		<splash density="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
		<splash density="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
		
		<splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
		<splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
		<splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
		<splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
		<splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
		<splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />

	</platform>

	<platform name="ios">
		<feature name="CDVWKWebViewEngine">
			<param name="ios-package" value="CDVWKWebViewEngine" />
		</feature>
		<preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
		<preference name="WKWebViewOnly" value="true" />

		<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
			<string>This allows uploading pictures from photo library and sharing it with the store.</string>
		</edit-config>
		<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
			<string>This allows using the camera to scan barcodes to open the product details page and/or scan a customer card.</string>
		</edit-config>
		<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
			<string>This allows the app to use geolocation to find stores nearby.</string>
		</edit-config>
		<edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
			<string>This allows the app to use geolocation to find stores nearby.</string>
		</edit-config>

		<!-- iOS 8.0+ -->
		<!-- iPhone 6 Plus  -->
		<icon src="www/res/icon/ios/icon-60@3x.png" width="180" height="180" />
		<!-- iOS 7.0+ -->
		<!-- iPhone / iPod Touch  -->
		<icon src="www/res/icon/ios/icon-60.png" width="60" height="60" />
		<icon src="www/res/icon/ios/icon-60@2x.png" width="120" height="120" />
		<!-- iPad -->
		<icon src="www/res/icon/ios/icon-76.png" width="76" height="76" />
		<icon src="www/res/icon/ios/icon-76@2x.png" width="152" height="152" />
		<!-- Spotlight Icon -->
		<icon src="www/res/icon/ios/icon-40.png" width="40" height="40" />
		<icon src="www/res/icon/ios/icon-40@2x.png" width="80" height="80" />
		<!-- iOS 6.1 -->
		<!-- iPhone / iPod Touch -->
		<icon src="www/res/icon/ios/icon.png" width="57" height="57" />
		<icon src="www/res/icon/ios/icon@2x.png" width="114" height="114" />
		<!-- iPad -->
		<icon src="www/res/icon/ios/icon-72.png" width="72" height="72" />
		<icon src="www/res/icon/ios/icon-72@2x.png" width="144" height="144" />
		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="www/res/icon/ios/icon-small.png" width="29" height="29" />
		<icon src="www/res/icon/ios/icon-small@2x.png" width="58" height="58" />
		<icon src="www/res/icon/ios/icon-small@3x.png" width="87" height="87" />
		<!-- iPad Spotlight and Settings Icon -->
		<icon src="www/res/icon/icons/ios/icon-50.png" width="50" height="50" />
		<icon src="www/res/icon/icons/ios/icon-50@2x.png" width="100" height="100" />
		<!-- iPad Pro -->
		<icon src="www/res/icon/icons/ios/icon-83.5@2x.png" width="167" height="167" />

		<!-- Storyboard method (supports all devices):
			Important: If you use the storyboard method, legacy images are copied but ignored.
			Note: images are determined by scale, idiom, and size traits. The following
			are suggested based on current device form factors -->
		<splash src="www/res/screen/ios/Default@2x~universal~anyany.png" />
		<!--
		<splash src="www/res/screen/ios/Default@2x~universal~comany.png" />
		<splash src="www/res/screen/ios/Default@2x~universal~comcom.png" />
		<splash src="www/res/screen/ios/Default@3x~universal~anyany.png" />
		<splash src="www/res/screen/ios/Default@3x~universal~anycom.png" />
		<splash src="www/res/screens/ios/Default@3x~universal~comany.png" />
		-->

	</platform>

	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

</widget>
